<%- include('headerHost') %>

<div class="d-flex justify-content-center align-items-center p-0 profileBackground">
    <div class="d-flex flex-column p-5 w-100 l-100">
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="Black bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <h3 class="ms-2"><%= profileName %></h3>
        </div>
        <div class="profileBorder">
            <div>
                <p>Name: </p>
                <p class="profileField"><%= profileName %></p>
            </div>
            <div>
                <p>Email: </p>
                <p class="profileField"><%= profileEmail %></p>
            </div>
            <div>
                <p>Phone Number: </p>
                <p class="profileField"><%= profilePhoneNumber %></p>
            </div>
            <div>
                <p>Status: </p>
                <p class="profileField"><%= profileStatus %></p>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>